
.profile_body {
  padding: 50px;
  height: 90%;
  width: 90%;
  // width: 95%;
  background: #FFD0BB;
  display: inline-block;      
  // position: absolute;
  position: relative;
}

.profile_card {
  z-index: 10;
  width: 90vw;
  height: 80vh;
  background: #FFF5F1;
  border-radius: 50px;
  position: absolute;
  top: 80%;
  // left: 49%;
  // transform: translate(-50%, -50%);

  header {
    position: absolute;
    background: #fff;
    height: 11%;
    width: 100%;
    border: 1px, solid, black;
    border-radius: 50px 50px 0 0;
    // justify-content: space-between;
    h2 {      
      position: absolute;
      left: 9%;
      top: 4%;
    }
    button {
      position: absolute;
      right: 5%;
      top: 35%;
    }
  }

  nav {
    background: #FF7676;;
    width: 7%;
    height: 100%;
    position: absolute;
    border-radius: 50px 0 0 50px;
    
    .nav_btn_wrapper {
      position: absolute;
      top: 48%;
      height: 30%;
      width: 100%;
      button {
        position: absolute;
        transform: translate(-50%, -50%);
      }      
      button:nth-child(1) {
        top: 0%;
      }
      button:nth-child(2) {
        top: 10%;
      }
      button:nth-child(3) {
        top: 20%;
      }
    }
  }

  .card_left {
    position: absolute;
    left: 7%;
    top: 11%;
    width: 55%;
    height: 89%;

    .card_left_top {
      position: absolute;
      box-sizing: border-box;
      top: 2%;
      left: 2%;
      width: 96%;
      height: 30%;
      padding: 5px;
      background-color: #fff;
      border-radius: 50px;
      
      .profile_left {
        background-color: #FF7676;
        border-radius: 50px;
        // border: 1px solid black;
        position: absolute;
        top: -0.2%;
        left: -0.2%;
        height: 100%;
        width: 40%;
        
        .edit_btn {
          position: absolute;
          border: 1px solid black;
          // width: %;
          // height: 100px;
          bottom: 5%;
          transform: translate(-50%, -50%);
        }
        .profile_content {
          position: absolute;
          width: 100%;
          height: 50%;
          top: 25%;
          display: table;

          .profile_img_wrapper {
            position: absolute;
            border: 1px solid black;
            width: 30%;
            height: 100%;
            left: 10%;
            top: -5%;
            border-radius: 20px;
            overflow: hidden;

            img {                    
              width: 100%;
              height: 100%;
              object-fit: cover;   
            }
          }
          .profile_welcome {
            position: absolute;
            width: 40%;
            left: 50%;
            // top: 8%;
            display: table-cell;
            vertical-align: middle;
            // display: flex;
            // align-items: center;
            // border: 1px solid black;
            h2 {
              // padding: 1px;
              // margin: 2px;
              margin:5px 0;
              font-size: 1.5em;
            }
          }
        }
      }
      .profile_rigth {
        position: absolute;
        top: -0.2%;
        left: 40%;
        height: 100%;
        width: 60%;
      }
    }
    .card_left_bottom {
      position: absolute;
      box-sizing: border-box;
      left: 2%;
      width: 96%;
      height: 64%;
      top: 34%;
      padding: 5px;
      background-color: #fff;
      border-radius: 50px;

      .btn_wrapper {
        position: absolute;
        top: -0.1%;
        left: -1%;
        width: 10%;
        height: 100%;
        border-radius: 50px 0 0 50px;
        background-color: #FF7676;
        text-align: center;

        .tomato_btn {
          position: absolute;
          background: none;
          width: 100%;
          height: 50%;
          left: 0%;
          border-radius: 50px 0 0 0;
        }
        .time_btn {
          position: absolute;
          background: none;
          width: 100%;
          height: 50%;
          top: 50%;
          left: 0%;
          border-radius: 0 0 0 50px;
        }
      }
      .card_content {
        position: absolute;
        left: 11%;
        width: 86%;
        height: 97%;
        border: 1px solid black;
      }
    }
  }

  .card_right {
    position: absolute;
    left: 61%;
    top: 11%;
    width: 38%;
    height: 89%;

    .card_right_top {
      position: absolute;
      box-sizing: border-box;
      top: 2%;
      left: 2.7%;
      width: 95.6%;
      height: 30%;
      padding: 5px;
      background-color: #fff;
      border-radius: 50px;

      div {
        position: absolute;
        // display: inline-block;
      }
    }
    .card_right_bottom {
      position: absolute;
      box-sizing: border-box;
      left: 2.7%;
      width: 95.6%;
      height: 64%;
      top: 34%;
      padding: 5px;
      background-color: #fff;
      border-radius: 50px;

      .studies_table {
        position: absolute;
        border: 1px solid black;
        top: 50%;
        left: 49%;
        width: 80%;
        height: 70%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
