
.findPassword {
  top: 50%;
  left: 50%;
  z-index: 101;

  
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  
  div {
    button {
      width: 160px;
      height: 35px;   
    }
  }

  // .findPassword {
  //   // float: right;
  //   padding: 10px;
  //   margin-bottom: 10px;
  //   border-radius: 15px;
  //   background-color: #FFFFFF;

  //   button {
  //     width: 160px;
  //     height: 35px;   
  //   }
  // }
}