.study_main_body {
  padding: 50px;
  height: 90%;
  width: 90%;
  // width: 95%;
  background: #FFD0BB;
  display: inline-block;      
  // position: absolute;
  position: relative;
}

.study_main_card {
  z-index: 10;
  width: 90vw;
  height: 80vh;
  background: #FFF5F1;
  border-radius: 50px;
  position: absolute;
  top: 80%;
  // left: 49%;
  // transform: translate(-50%, -50%);

  header {
    position: absolute;
    background: #fff;
    height: 11%;
    width: 100%;
    border: 1px, solid, black;
    border-radius: 50px 50px 0 0;
    // justify-content: space-between;
    h2 {      
      position: absolute;
      left: 9%;
      top: 4%;
    }
    button {
      position: absolute;
      right: 5%;
      top: 35%;
    }
  }

  nav {
    background: #FF7676;;
    width: 7%;
    height: 100%;
    position: absolute;
    border-radius: 50px 0 0 50px;
    
    .nav_btn_wrapper {
      position: absolute;
      top: 48%;
      height: 30%;
      width: 100%;
      button {
        position: absolute;
        transform: translate(-50%, -50%);
      }      
      button:nth-child(1) {
        top: 0%;
      }
      button:nth-child(2) {
        top: 10%;
      }
      button:nth-child(3) {
        top: 20%;
      }
    }
  }
  .input_wrapper {
    position: absolute;
    width: 90%;
    height: 8%;
    left: 8%;
    top: 11%;
    
    form {
      // margin-top: 15px;
      div {
        overflow: hidden;
        input {
          position: absolute;
          height: 2.5em;
          width: 85%;
          background: #EDD9D9;
          border-radius: 50px;
          border: none;
          text-indent: 3%;
          font-size: 1.3em;
          left: 0;
          top: 20%;
        }
        p {
          margin: 8px;
        }
      }
    }
    button {
      position: absolute;
      width: 14%;
      height: 92%;
      right: 0;
      border-radius: 50px;
      font-size: 1.3em;
      background-color: #FF6262;
      top: 20%;
    }
  }
  .hashtags {    
    position: absolute;
    // border: 1px solid black;
    width: 90%;
    height: 7%;
    left: 8%;
    top: 22%;
    
    .hashtag {
      position: absolute;
      background-color: lime;
      border-radius: 50px;
      left: 40%;
      width: 10%;
      height: 60%;
      border: 2px solid black;
      
      p {
        margin: 0;
        position: absolute;
        top: 11%;
        left: 30%;
      }
      a {
        // margin-top: 3px;
        position: absolute;
        right: 10%;
        top: 22%;
        text-decoration: none;
      }
    }
  }
  .study_cards {    
    position: absolute;
    border: 1px solid black;
    width: 90%;
    height: 69.5%;
    left: 8%;
    top: 28.5%;

    .card_wrapper {
      position: absolute;
      // border: 1px solid black;
      height: 90%;
      width: 100%;
            
      .card {
        border: 1px solid black;
        height: 95%;
        width: 20%;
      }
    }
    footer {
      position: absolute;
      height: 10%;
      width: 100%;
      top: 90%;
    }
  }
}
